name: build-validation-report
on:
  workflow_run:
    workflows: ["build-validation"] # runs after build-validation workflow
    types:
      - completed
permissions:
  contents: read
  actions: read
  checks: write
jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: dorny/test-reporter@d61b558e8df85cb60d09ca3e5b09653b4477cea7 # v1
        with:
          artifact: test-results-Windows
          name: Maester Test Results
          path: "*.xml"
          reporter: java-junit
          fail-on-error: true
